.app {
    min-height: 100vh;
    transition: background 0.5s ease;
}
.sunny-bg { 
  background: linear-gradient(to bottom, #4facfe ,#00f2fe);
 }

.rain-bg { 
  background: linear-gradient(to bottom,#4A90E2,#0B1F5B);
}

.cloud-bg { 
  background: linear-gradient(to bottom, darkgray, lightgray,white );

}

.thunder-bg { 
  background: linear-gradient(to bottom, black,rgb(39, 1, 39) );

}
.white
{
  background: white;
}
